<nav  class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class='container'>

      <div class="navbar-header">
        <span class='navbar-brand'>
          Fitness Monitor Project
        </span>
      </div>


      <ul class="nav navbar-nav navbar-right" >

      	<!-- <li>
      		<a href='#/api'>API</a>
      	</li> -->
        <li class="dropdown" ng-show='me'>
          <a href='./#' class="dropdown-toggle" data-toggle="dropdown">
            &nbsp;@{{me.username}} <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a ng-click="logout()">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>
</nav>

<div class='container' style="margin-top: 50px">
	<h3>User Conversation</h3>
	<hr/>
	<div class='row'>
      <div class='col-sm-12'>
        <ask-survey survey='schema1.survey' response='schema1.response'></ask-survey>
        <br/>
        <ask-survey survey='schema2.survey' response='schema2.response'></ask-survey>
        
      </div>
    </div>
	
</div>




