<nav  class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class='container'>

      <div class="navbar-header">
        <span class='navbar-brand'>
          Fitness Monitor Project
        </span>
      </div>


      <ul class="nav navbar-nav navbar-right" >

      	<!-- <li>
      		<a href='#/api'>API</a>
      	</li> -->
        <li class="dropdown" ng-show='me'>
          <a href='./#' class="dropdown-toggle" data-toggle="dropdown">
            &nbsp;@{{me.username}} <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a ng-click="logout()">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>
</nav>w

<div class='container' style="margin-top: 50px">
	<h3>User List </h3>
	<hr/>
	<a class="btn btn-primary pull-right" href="#/adduser" role="button">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		Register User
	</a>
	<table class="table table-responsive table-bordered">
		<thead>
			<tr>
				<th>User Name</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>email</th>
				<th>Created On</th>
				<th>Last Synch</th>
				<th>Data Collect</th>
				<th>Role</th>
				<th>Operations</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users">
				<td>{{user.username}}</td>
				<td>{{user.firstName}}</td>
				<td>{{user.lastName}}</td>
				<td>{{user.emailAddress}}</td>
				<td>{{user.created_on | date}}</td>
				<td>{{user.last_synch | date}}</td>
				<td>{{user.status ? "Yes" : "No"}}</td>
				<td>{{user.roleAdmin ? "Admin" : "User"}}</td>
				<td>

					<a class="btn btn-sm btn-danger" role="button">
						<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
					</a>
					&nbsp;
					<a class="btn btn-sm btn-primary" href="#/dialogue/{{user.username}}" role="button">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>




