<nav  class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class='container'>

      <div class="navbar-header">
        <span class='navbar-brand'>
          Fitness Monitor Project
        </span>
      </div>


      <ul class="nav navbar-nav navbar-right" >

      	<!-- <li>
      		<a href='#/api'>API</a>
      	</li> -->
        <li class="dropdown" ng-show='me'>
          <a href='./#' class="dropdown-toggle" data-toggle="dropdown">
            &nbsp;@{{me.username}} <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a ng-click="logout()">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>
</nav>w

<div class='container' style="margin-top: 50px">
	<h3>Register User</h3>
	<hr/>
	<form class="form-horizontal">
		<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
		<div class="form-group">
			<label for="inputUsername3" class="col-sm-2 control-label">Username</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="inputUsername3"
					placeholder="Username" ng-model="user.username" ng-required="true">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-6">
				<input type="password" class="form-control" id="inputPassword3"
					placeholder="Password" ng-model="user.password" ng-required="true">
			</div>
		</div>
		<div class="form-group">
			<label for="inputFirstName3" class="col-sm-2 control-label">First Name</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="inputFirstName3"
					placeholder="First Name" ng-model="user.firstName" ng-required="true">
			</div>
		</div>
		<div class="form-group">
			<label for="inputLastName3" class="col-sm-2 control-label">Last Name</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="inputLastName3"
					placeholder="Last Name" ng-model="user.lastName" ng-required="true">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
			<div class="col-sm-6">
				<input type="email" class="form-control" id="inputEmail3"
					placeholder="Email" ng-model="user.emailAddress" ng-required="true">
			</div>
		</div>
		<div class="form-group">
			<label for="inputMobile3" class="col-sm-2 control-label">Mobile</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" id="inputPhone3"
					placeholder="Mobile" ng-model="user.mobileNnumber" ng-required="true">
			</div>
		</div>
		<div class="form-group">
			<label for="roleRadios" class="col-sm-2 control-label">Role</label>
			<div class="col-sm-6">
				<div class="radio-inline">
					<label> <input type="radio" name="roleRadios"
						id="roleRadios1" ng-value="false" checked ng-model="user.roleAdmin"> User
					</label>
				</div>
				<div class="radio-inline">
					<label> <input type="radio" name="roleRadios"
						id="roleRadios2" ng-value="true" ng-model="user.roleAdmin"> Admin
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="statusRadios" class="col-sm-2 control-label">Collect Data</label>
			<div class="col-sm-6">
				<div class="radio-inline">
					<label> <input type="radio" name="statusRadios"
						id="statusRadios2" ng-value="true" checked ng-model="user.status"> Yes
					</label>
				</div>
				<div class="radio-inline">
					<label> <input type="radio" name="statusRadios"
						id="statusRadios1" ng-value="false" ng-model="user.status"> No
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="statusRadios" class="col-sm-2 control-label">Service Type</label>
			<div class="col-sm-6">
				<div class="radio-inline">
					<label> <input type="radio" name="serviceRadios"
						id="statusRadios2" ng-value="true" checked ng-model="user.smsService"> SMS
					</label>
				</div>
				<div class="radio-inline">
					<label> <input type="radio" name="serviceRadios"
						id="statusRadios1" ng-value="false" ng-model="user.smsService"> Mobile App
					</label>
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<label for="statusRadios" class="col-sm-2 control-label">Fitness Approach</label>
			<div class="col-sm-6">
				<div class="radio-inline">
					<label> <input type="radio" name="fitnessRadios"
						id="statusRadios2" ng-value="true" checked ng-model="user.adaptive_aproach"> Adaptive
					</label>
				</div>
				<div class="radio-inline">
					<label> <input type="radio" name="fitnessRadios"
						id="statusRadios1" ng-value="false" ng-model="user.adaptive_aproach"> Prescriptive
					</label>
				</div> 
			</div>
		</div>
		
		<div class="form-group">
			<label for="statusRadios" class="col-sm-2 control-label">Authorize Fitbit</label>
			<div class="col-sm-6">
				<a class="btn btn-primary" ng-click="connectFitbit()" role="button">
					<img src="img/fitbit-logo.png" height="20px"/>
					{{fitbitBtn}}
				</a>
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-6">
				<button class="btn btn-primary" ng-click="saveUser()">Submit</button>
			</div>
		</div>
	</form>
	<pre> user = {{user | json}}</pre>
</div>




