.clickable {
	cursor: pointer;
}





ask-field {
	display: block;
	margin-top: 30px;

	overflow: hidden ;
}

ask-field.ng-enter, ask-field.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

ask-field.ng-enter,
ask-field.ng-leave.ng-leave-active {
	max-height: 0;
	opacity: 0;
}

ask-field.ng-leave,
ask-field.ng-enter.ng-enter-active {

  max-height: 150px;
  opacity: 1;
}

.page-header {

	display: table;
	table-layout: fixed;
	width: 100%;
	margin: 20px 0px;
	padding: 10px 0px;

	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.page-header li {
	display:table-cell;
	text-align: center; 
	width: auto;
}

.page-header li.current {
	font-weight: bold;
}


.page-footer {

	width: 100%;
	margin: 20px 0px;
	padding: 10px 0px;

	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.indent {
	margin-left: 30px;
}