<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
	<wb-module deploy-name="fitness-monitor">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
		<wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
		<wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
		<wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <dependent-module archiveName="ask-core-0.0.1.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/ask-core/ask-core">
            <dependency-type>uses</dependency-type>
        </dependent-module>
		<property name="java-output-path" value="target/classes"/>
        <property name="context-root" value="fitnesstrack"/>
	</wb-module>
</project-modules>
